bin/*
.ccls
.ccls-cache/*
obj/*
lib/mercuryapi-1.31.4.35/c/src/api/*.so
lib/mercuryapi-1.31.4.35/c/src/api/*.so.*
lib/mercuryapi-1.31.4.35/c/src/api/*.a
lib/mercuryapi-1.31.4.35/c/src/api/*.o
lib/mercuryapi-1.31.4.35/c/src/api/antennalist
lib/mercuryapi-1.31.4.35/c/src/api/authenticate
lib/mercuryapi-1.31.4.35/c/src/api/autonomousmode
lib/mercuryapi-1.31.4.35/c/src/api/lib/LTK
lib/mercuryapi-1.31.4.35/c/src/api/bap
lib/mercuryapi-1.31.4.35/c/src/api/blockpermalock
lib/mercuryapi-1.31.4.35/c/src/api/blockwrite
lib/mercuryapi-1.31.4.35/c/src/api/customantennaconfig
lib/mercuryapi-1.31.4.35/c/src/api/demo
lib/mercuryapi-1.31.4.35/c/src/api/denatranIAVcustomtagoperations
lib/mercuryapi-1.31.4.35/c/src/api/embeddedreadtid
lib/mercuryapi-1.31.4.35/c/src/api/fastid
lib/mercuryapi-1.31.4.35/c/src/api/filter
lib/mercuryapi-1.31.4.35/c/src/api/firmwareload
lib/mercuryapi-1.31.4.35/c/src/api/gpiocommands
lib/mercuryapi-1.31.4.35/c/src/api/licensekey
lib/mercuryapi-1.31.4.35/c/src/api/loadsaveconfiguration
lib/mercuryapi-1.31.4.35/c/src/api/locktag
lib/mercuryapi-1.31.4.35/c/src/api/multiprotocolread
lib/mercuryapi-1.31.4.35/c/src/api/multireadasync
lib/mercuryapi-1.31.4.35/c/src/api/read
lib/mercuryapi-1.31.4.35/c/src/api/readallmembanks-GEN2
lib/mercuryapi-1.31.4.35/c/src/api/readasync
lib/mercuryapi-1.31.4.35/c/src/api/readasyncfilter
lib/mercuryapi-1.31.4.35/c/src/api/readasyncfilter-ISO18k-6b
lib/mercuryapi-1.31.4.35/c/src/api/readasyncGPIOControl
lib/mercuryapi-1.31.4.35/c/src/api/readasynctrack
lib/mercuryapi-1.31.4.35/c/src/api/readbuffer
lib/mercuryapi-1.31.4.35/c/src/api/readcustomtransport
lib/mercuryapi-1.31.4.35/c/src/api/readerInfo
lib/mercuryapi-1.31.4.35/c/src/api/readerstats
lib/mercuryapi-1.31.4.35/c/src/api/readintoarray
lib/mercuryapi-1.31.4.35/c/src/api/readstopTrigger
lib/mercuryapi-1.31.4.35/c/src/api/rebootReader
lib/mercuryapi-1.31.4.35/c/src/api/RegionConfiguration
lib/mercuryapi-1.31.4.35/c/src/api/RegulatoryTesting
lib/mercuryapi-1.31.4.35/c/src/api/returnloss
lib/mercuryapi-1.31.4.35/c/src/api/savedconfig
lib/mercuryapi-1.31.4.35/c/src/api/savedreadplanconfig
lib/mercuryapi-1.31.4.35/c/src/api/securereaddata
lib/mercuryapi-1.31.4.35/c/src/api/serialtime
lib/mercuryapi-1.31.4.35/c/src/api/SL900Agetcalibrationdata
lib/mercuryapi-1.31.4.35/c/src/api/SL900Agetsensorvalue
lib/mercuryapi-1.31.4.35/c/src/api/SL900Asetcalibrationdata
lib/mercuryapi-1.31.4.35/c/src/api/SL900Asetsfeparameters
lib/mercuryapi-1.31.4.35/c/src/api/tagdir
lib/mercuryapi-1.31.4.35/c/src/api/untraceable
lib/mercuryapi-1.31.4.35/c/src/api/writetag
lib/mercuryapi-1.31.4.35/c/src/samples/*.o
